<div class="border-t mt-16">
    <footer class="container flex flex-col justify-center items-stretch lg:items-center py-24 gap-16">
        <div class="grid grid-cols-1 lg:grid-cols-[2fr_1fr_1fr] gap-8">
            <div>
                <img src="/logo-white.svg" class="h-8 opacity-80" />
            </div>
            <div class="flex flex-col gap-2">
                <p class="font-semibold">App</p>
                <a href="/docs">Docs</a>
                <a>Pricing</a>
                <a href="https://github.com/palladians/supso" target="_blank" rel="noopener noreferrer">GitHub</a>
            </div>
            <div class="flex flex-col gap-2">
                <p class="font-semibold">Legal</p>
                <a>Privacy Policy</a>
                <a>Terms of Service</a>
            </div>
        </div>
     <p class="text-muted-foreground">&copy; 2024 <a href="https://palladians.xyz" target="_blank" rel="noopener noreferrer">Palladians</a></p>
    </footer>
</div>