<div class="border-t mt-16">
    <footer class="container flex flex-col justify-center items-stretch lg:items-center py-24">
        <div class="grid grid-cols-1 lg:grid-cols-[2fr_1fr_1fr] gap-8">
            <div>
                <img src="/logo-white.svg" class="h-8 opacity-80" />
            </div>
            <div class="flex flex-col gap-2">
                <a>Docs</a>
                <a>Pricing</a>
                <a>Github</a>
            </div>
            <div class="flex flex-col gap-2">
                <a>Privacy Policy</a>
                <a>Terms of Service</a>
            </div>
        </div>
    </footer>
</div>